* {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  font-family: 'DM Sans', sans-serif;
}
section {
  flex: 1;
}

.content-container {
  display: flex;
  flex-direction: column;
  /* border: 2px solid #000; */
  background-color: #f9fbf8;
  color: #1e373b;
}

.header {
  flex: 0 0 40px;
  padding: 1rem;
}

.ema input {
  margin-bottom: 0.5rem;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-inline: auto;
  flex: 1;
}

.form input {
  width: 100%;
  height: 2rem;
  border: 1px solid #d9dddc;
  padding-left: 0.5rem;
  font-size: xx-small;
  opacity: 0.8;
  font-weight: bolder;
}
.form label {
  font-size: x-small;
  font-weight: 900;
  color: #1e373b;
}

input[type='text'] {
  border-radius: 0.2rem;
}

input[type='password'] {
  letter-spacing: 2px;
  margin-top: 0.2rem;
  border-radius: 0.2rem;
}

.title {
  text-align: center;
}

.title p {
  opacity: 0.8;
  /* word-spacing: 2px; */
  /* letter-spacing: -0.6px; */
  font-size: x-small;
  font-weight: 900;
  margin-top: -5%;
  margin-bottom: 7%;
}

.form {
  flex: 1;
}

.img-section {
  width: 50vw;
}

.container {
  /* background-image: url(images/david.JPG);
  background-size: cover;
  background-position: top center; */

  width: 100vw;
  height: 100vh;
}

.container img {
  max-width: 50%;
  height: 100%;
}

.checkb {
  transform: scale(0.9);
}

.checkb {
  /* margin-left: -1rem; */
  font-weight: bold;
}

.check-1 {
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  justify-content: center;
  margin-left: -0.4rem;
  margin-top: -1rem;
  /* word-spacing: -1px; */
}

.check-2 {
  margin-top: -1rem;
}

.check {
  display: flex;
  justify-content: space-between;
  padding-top: -3rem;
  margin-bottom: -0.8rem;
  /* display: grid;
  grid-template-columns: 4fr 1fr;  */
  /* border: 3px solid #000; */
}

.check h6 {
  color: #496445;
}

.sign {
  margin-top: 0.5rem;
  text-align: center;
  font-size: x-small;
}

.sign h5 {
  margin-top: 1.2rem;
  font-weight: bolder;
}

button {
  height: 2rem;
  width: 100%;
  background-color: #496445;
  color: #cde0ca;
  border-radius: 0.2rem;
  outline-color: #496445;
  cursor: pointer;
  border: 0px;
  font-size: xx-small;
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: #496445;
}

.footer {
  flex: 0 0 40px;
  font-size: small;
  padding: 1rem;
}
